ul {
  list-style-type: none;
  margin: 0;
  padding: 30;
  overflow: hidden;
  background-color: #e4beb0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #d18f77;
}

.active {
  background-color:#d18f77;
}