body {
  background-color: #fce3d2;
  margin: 0 10%;
  font-family: sans serif;
  }
h1 {
  Text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: Uppercase;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
  color:#d18f77;
}
h2 {
  color: #d18f77;

  }

footer {
  border-top: 1px solid #57b1dc;
  text-align: center;
  padding-top: 1em;
}
footer img {
  width: 40px;
  height: 40px;
  margin-left: .5em;
  margin-right:.5em;
}
